.container{
    background-color: black;
    color:white;
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
        margin-bottom: 10px;
        font-size: 0.6em;
    }
    .icons{
       display: flex;
       flex-direction: row;
       li{
        margin-left: 10px;
        padding: 2px;
       }
    }
}